.faixa-top {
    width: 100%;
    background-color: rgb(12, 129, 81);
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(0 0 0 / 20%) 0px 5px 10px 1px;
    text-align: center;
}

.faixa-top h1 {
    color: white;
    font-weight: 500;
    font-size: 35px;
    padding: 20px;
}

.faixa-top b {
    color: white;
    font-weight: 700;
    font-size: 40px;
}