@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    animation: opacidade 1s ease-out;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

header {
    display: block;
    background-image: url(/assets/img/background.jpg);
    width: 100%;
    height: auto;
    max-height: 1000px;
    background-position: center;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.header-container {
    display: inline-flex;
    position: relative;
    background-color: #25323E;
    border-radius: 10px;
    margin-top: 20px;
    width: 70%;
    height: 100px;
}

.logo {
    width: 300px;
    position: absolute;
    top: 13px;
}

.nav-list {
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    display: inline-flex;
    list-style: none;
    margin: 0 20px;
    letter-spacing: 0.5px;
}

.nav-link {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
}

.nav-link:after {
  content: "";
  position: absolute;
  background-color: white;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -2px;
  transition: 0.5s;
}

.nav-link:hover:after {
  width: 100%;
}

#container-alugar-carro {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    background: rgba(0,0,0,.45);
    position: relative;
    top: 20px;
}

.content {
    font-family: 'Roboto', sans-serif;
    width: 90%;
    height: 190px;
    color: white;
}

.content h2 {
    font-size: 21px;
    margin-top: 15px;
    margin-bottom: 25px;
}

input[type=text], select{
    padding: 14px 20px;
    margin: 8px 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=datetime-local], select{
    padding: 12px 20px;
    margin: 8px 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#retirada {
    width: 44%;
    position: relative;
    margin-right: 20px;
}

#search-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    color: #58595b;
    padding: 0.96em 0.8em;
    padding-left: 35px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 97;
    position: relative;
    cursor: pointer;
    top: 2px;
    border: 0;
}

.local-icon::before {
    content: '';
    background: url(/assets/img/local-icon.svg) no-repeat;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 45px;
    left: 10px;
    z-index: 97;
}

#data {
    width: 20%;
    position: relative;
    margin-right: 20px;
}

#data-hora {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    color: #58595b;
    padding: 0.96em 0.8em;
    border-radius: 5px;
    font-size: 14px;
    z-index: 97;
    position: relative;
    cursor: text;
    border: 0;
}

#devolucao {
    width: 20%;
    position: relative;
    margin-right: 20px;
}

#data-hora-devolucao {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    color: #58595b;
    padding: 0.96em 0.8em;
    border-radius: 5px;
    font-size: 14px;
    z-index: 97;
    position: relative;
    cursor: text;
    border: 0;
}

label {
    display: inline-flex;
    margin-bottom: 5px;
}

#formulario {
    display: flex;
}

#banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    margin-top: 30px;
}

#banner-text-area {
    animation: bannertext 2s;
    display: block;
    width: 35%;
    color: white;
    margin-left: 20px;
}

#banner-text-area h1 {
    font-family: 'Paytone One', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 55px;
    line-height: 65px;
}

.image-banner {
    animation: opacidade 2s ease-out;
}

#banner-text-area p {
    margin-top: 12px;
    font-family: Arial;
    font-size: 25px;
    line-height: 30px;
}


.search-button {
    text-overflow: ellipsis;
    background: #F97D00;
    color: #FFF;
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 1px rgb(255 255 255 / 80%);
    font-size: 16px;
    font-weight: 300;
    padding: 0.6em 1em;
    position: relative;
    left: 0;
    top: 28px;
    height: 48px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #dd6f01;
    transition: 0.4s;
}

#hamburguer {
    color: white;
    display: block;
    border-top: 6px solid;
    width: 40px;
    margin-right: 10px;
}

#hamburguer::after, #hamburguer::before {
    content: '';
    display: block;
    width: 40px;
    height: 6px;
    background: currentColor;
    margin-top: 7px;
}

#body-content {
    background-color: #eeeeee;
    margin-top: 2rem;
    width: 100%;
    height: auto;
}

.body-text {
    text-align: center;
    font-size: 2em;
    color: rgba(254, 73, 18, 1);
    font-weight: bold;
    padding-top: 10px;
}

.flex {
    display: flex;
    justify-content: center;
}

.container-quem-somos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2.2rem;
    background-color: rgba(254, 73, 18, 1);
    animation: fade-in 0.8s;
}

[data-anime] {
    opacity: 0;
    transition: 1s;
}

[data-anime="rideup"] {
    transform: translate3d(0, 50%, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(50%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.titulo-quem-somos {
    color: #fff;
    margin: 2rem 0;
    font-size: 1.8em;
    text-transform: uppercase;
}

.text-quem-somos {
    max-width: 769px;
    margin: 0 3rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.3rem;
    color: #fff;
}

#cards-container-body {
    margin-top: 35px;
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cards {
    width: 250px;
    height: 280px;
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 5px 5px 15px 5px #000000;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.cards-images {
    width: 200px;
    height: 120px;
}

.cards:hover {
    transform: scale(1.02);
    transition: 0.5s ease-out;
}

.btn-cards {
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    border: none;
    padding: 6px 14px;
    border-radius: 6px;
}

.btn-cards p, a {
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 16px
}

.btn-cards:hover {
    transform: scale(1.05);
    transition: 0.5s ease-out;
}

#container-local-e-estrutura {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 2.5rem;
    background: url(/assets/img/estrada-maior.jpg) no-repeat;
    background-size: cover;
}

.container-estrutura {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.titulo-estrutura {
    margin-top: 2rem;
    margin-bottom: 3rem;
    border-radius: 30px;
    color: whitesmoke;
    width: 500px;
    font-family: 'Paytone One', sans-serif;
    font-size: 2.2em;
    text-shadow: 0.2em 0.2em black;
}

.container-mapa {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container-localizacao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo-onde-nos-encontrar {
    margin: 2rem 0;
    color: whitesmoke;
    width: 500px;
    font-family: 'Paytone One', sans-serif;
    font-size: 2.2em;
    text-shadow: 0.2em 0.2em black;
}

.onde-text, .estrutura-text {
    display: flex;
    justify-content: center;
}

.slider {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: 2rem;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
    
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 800px;
}

.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #fff;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

.navigation-auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #fff;
}

#container-footer {
    background-color: #25323E;
    width: 100%;
    height: auto;
    margin-top: 2rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.flex-footer {
    display: flex;
    justify-content: center;
}

.boxs-footer {
    margin-top: 35px;
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box-informacao-footer, .box-contato-footer {
    color: white;
    width: 550px;
    height: 280px;
    padding: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

.box-informacao-footer {
    flex-direction: row;
    width: 850px;
}

.box-contato-footer h1 {
    font-size: 2.5em;
    text-transform: uppercase;
}

.numero-contato a{
    font-size: 1.8em;
    padding: 0.5rem;
    text-decoration: underline;
}

.box-contato-footer p {
    padding: 0.2rem;
}

.flex-number {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem;
    margin-right: 1.2rem;
}

.footer-icons {
    margin-top: 15px;
    border: solid 2px white;
    border-radius: 5px;
}

.footer-icons a {
    font-size: 25px;
    color: white;
    margin-right: 0.4rem;
}

.footer-icons i {
    padding: 0.5rem;
}

.titulo-informacao {
    text-transform: uppercase;
    width: 100%;
    margin: 1rem 0;
    color: #d4db26;
}


.lista-1, .lista-2, .lista-3 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.lista-ordenada {
    padding-left: 3.5rem;
}

.flex-list {
    padding-left: 1.1rem;
}

.items {
    line-height: 40px; 
}

.items-link {
    display: flex;
    align-items: flex-start;
}
@keyframes bannertext {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes opacidade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}